platform:
  - x64

environment:
  CONDA_RECIPE: conda
  CONDA_VERSION: 3
      
  matrix:
    - CONDA_PY: 37
    - CONDA_PY: 38 
      CONDA_NPY: 116
    - CONDA_PY: 39 
      CONDA_NPY: 119

install:
  - git clone https://github.com/OpenAlea/appveyor-ci.git appveyor-ci
  - cd appveyor-ci
  - call install.bat
  - conda config --prepend channels conda-forge
  - conda config --prepend channels fredboudon

before_build:
  - call before_build.bat

build_script:
  - call build_script.bat

after_build:
  - call after_build.bat

deploy:
  provider: Script
  on:
    branch: master

before_deploy:
  - call before_deploy.bat

deploy_script:
  - call deploy_script.bat

after_deploy:
  - call after_deploy.bat

on_success:
  - call on_success.bat

on_failure:
  - call on_failure.bat

on_finish:
  - call on_finish.bat
